@using PaintShop.Web.Helpers
@using PaintShop.Web.ViewModels

@model HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="row body">

    <aside class="col-sm-3 full-height">
        @foreach (var product in @Model.TopProducts)
        {
            <div class="row no-over top-product-link">
                @Ajax.ImageActionLink(Url.Content(product.Logo.Path), product.Name, "TopProducts", "Home",
                    new { id = product.Id },
                    new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "pictures-grid" })
            </div>
        }
    </aside>

    <div id="pictures-grid">
        @{
            Html.RenderAction("TopProducts");
        }
    </div>

</div>

@section Unobtrusive{
    @Scripts.Render("~/bundles/jqueryajax")
}
