body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    margin : 15px;

}

.body {
    margin-top: 50px;
    height: 550px;
}

img {
    width: 100%;
    height: 100%;
}

.img-1 {
    height: 345px;
}

.img-2 {
    height: 345px;
}

.img-bottom {
    height: 175px;
}

.pics-body {
    height: 100%;
}

.full-height {
    height: 100%;
}

li {
    list-style: none;
}

aside {
    border: 2px solid green;
}

.no-over {
    max-height: 13%;
}

hr {
    border: 1px solid green;
}

.navbar-inverse {
    background-color:green;
    color: white;
}

.top-product-link:hover {
    border-left: 3px solid green;
    border-right: 3px solid green;
    border: 3px solid green;
}

