

@{
    ViewBag.Title = "Index";
}

<div class="row body">

    <aside class="col-sm-3 full-height">

    </aside>


    <div class="col-sm-9">
        <div class="row product-picture">
            <img src="path/product-pic-id" alt="asdasd" />
        </div>
        <div class="row">
            <p>
                description
            </p>
        </div>
    </div>

</div>

@section Unobtrusive{
    @Scripts.Render("~/bundles/jqueryajax")
}


