@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Calculator", "Index", "Calculator")</li>
            </ul>
        </div>
    </div>
</div>



@RenderBody()